@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap");

:root {
  --heading-color: rgb(76, 11, 76);
  --sec-text-clr: rgb(164, 29, 29);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  width: 100vw;
  background-color: rgb(237, 234, 234);
}
body .announcement {
  width: 100%;
  display: flex;
  font-size: 14px;
  height: 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: black;
  color: white;
}
header {
  width: 100%;
  height: 50px;
  display: grid;
  z-index: 11111;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  grid-template-columns: auto auto auto;
}
header .hamburger {
  display: none;
  font-size: 18px;
}
header .nav {
  /* width: 40%; */
  color: black;
}
header .nav ul li a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 450;
}
header .logo {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: black;
}
header .nav ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  color: black;
  gap: 40px;
  height: 100%;
}
header .icons {
  display: flex;
  gap: 40px;
  font-size: 18px;
}
/* side panel */
#sidePanel {
  margin-top: 3px;
  width: 20%;

  display: none;
  flex-direction: column;
  z-index: 555;
  background-color: white;
}

/* side panel ends here */
body .banner {
  position: relative;
  width: 100%;
  height: 640px;
}
body .banner img {
  height: 100%;
  width: 100%;
}
.banner a button {
  position: absolute;
  z-index: 22222;
  left: 43%;
  /* border: none; */
  background-color: rgb(39, 85, 72);
  width: 200px;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 700;
  transition: 0.3s ease;
  padding: 10px 8px;
  top: 85%;
}
body .banner a button:hover {
  background-color: rgb(26, 118, 92);
  cursor: pointer;
}
.main {
  margin-top: 35px;
}
.main .heading {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 30px;
  text-decoration: none;
  font-size: 28px;
  color: var(--heading-color);
}
.main a {
  text-decoration: none;
  color: black;
}
.main .discover {
  margin-top: 20px;
  margin: auto;
  width: 80%;
  gap: 40px;
  display: grid;
  justify-content: space-around;
  align-items: center;
  /* padding-left: 50px; */
  grid-template-columns: auto auto auto;
}
.main .discover a {
  text-decoration: none;
  /* color: black; */
  text-align: center;
  text-transform: capitalize;
}
.main .discover a .card {
  width: 420px;
  /* border: 2px solid; */
  height: 300px;
}
.main .discover a .card:hover {
  text-decoration: underline;
  color: var(--heading-color);
}
.main .discover a .card img {
  width: 100%;
  height: 220px;
  border-radius: 15px;
}
.main .discover a .card .info {
  height: 30%;
  line-height: 1.8;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 12px;
  color: var(--sec-text-clr);
  font-weight: 500;
}
.main .discover a .card .info h2 {
  font-size: 22px;
  color: black;
  /* letter-spacing:; */
}

/* arrivals */

.arrivals {
  width: 100%;
}
.arrivals .cards {
  width: 80%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 20px auto;
}
.arrivals .cards .card {
  width: 290px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.arrivals .cards .card .image {
  width: 100%;
  position: relative;
  height: 270px;
  border-radius: 10px;
}
.overlay {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11111;

  height: 100%;
  border-radius: 10px;
  background-color: rgba(129, 111, 111, 0.3);
}
.arrivals .cards .card .image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.arrivals a {
  text-decoration: none;
}
.arrivals a h2 {
  color: var(--heading-color);
  text-align: left;

  margin: 50px 0;
  width: 400px;
  /* border :1px solid; */
  font-size: 28px;
  margin-left: 100px;
  text-transform: capitalize;
}

.arrivals .text-left {
  color: var(--heading-color);
  text-align: left;

  margin: 50px 0;
  width: 400px;
  /* border :1px solid; */
  font-size: 28px;
  margin-left: 100px;
  text-transform: capitalize;
}
.arrivals .cards .card .details {
  margin: 20px 10px;
  text-transform: capitalize;
  color: black;
}
.arrivals .cards .card {
  transition: 0.2s ease;
}
.arrivals .cards .card:hover {
  transform: scale(1.02);
}
.arrivals .cards .card .details .other-colors {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 400;
}
.arrivals .cards .card .details .other-colors p {
  padding: 5px;
  background-color: rgba(227, 226, 226, 0.3);
  border-radius: 10px;
  font-size: 11px;
  margin-bottom: 5px;
  border: 1px solid rgba(227, 226, 226, 0.3);
}
.arrivals .details h3 {
  font-weight: 800;
  font-size: 19px;
}
.arrivals .cards .card .details .brand {
  margin-top: 5px;
  color: var(--sec-text-clr);
  font-size: 12px;
  font-weight: 450;
}
.arrivals .price {
  display: flex;
  font-size: 13px;
  color: black;
  font-weight: 500;
  padding: 0 10px;
  justify-content: space-between;
}
.arrivals .price span {
  font-size: 11px;
}
/* arrivals ends here */
/* shop by category */
.sbc {
  height: 600px;
  margin: 50px auto;
  width: 90%;
  border-radius: 20px;
}
.sbc img {
  height: 100%;
  border-radius: 20px;
  width: 100%;
}

/* shop by category ends here */
.sbc2 {
  width: 100%;
  margin: 50px 0;
}
.sbc2 a {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}
.sbc2 a h2 {
  margin: 20px;
  margin-left: 100px;
  margin-bottom: 30px;
  font-size: 27px;
  color: var(--heading-color);
}
.sbc2 .cards {
  display: grid;
  justify-content: center;
  gap: 30px;
  grid-template-columns: auto auto auto auto auto;
}
.sbc2 .cards .card {
  width: 230px;
  text-transform: capitalize;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  box-shadow: 1px 1px 2px 5px rgba(227, 226, 226, 0.3);
}
.sbc2 .cards .card:hover {
  transform: scale(1.02);
}
.sbc2 .cards .card h3 {
  margin-top: -20px;
  font-size: 18px;
}
.sbc2 .cards .card p {
  width: 80px;
  font-size: 16px;
  align-items: center;
  font-weight: 400;
  border-radius: 10px;
  justify-content: center;
  margin: auto;
  display: flex;
  margin-top: 10px;
  padding: 4px 6px;
  margin-bottom: 5px;
  background-color: black;
  color: white;
}
.sbc2 .cards .card img {
  width: 100%;
  height: 210px;
  padding: 20px 30px;
}

/* shop by category ends here */

/* shop by department */

.sbd {
  width: 100%;
}
.sbd a {
  text-decoration: none;
}
.sbd a h2 {
  margin-bottom: 30px;
  margin-left: 100px;
  font-size: 27px;
  text-transform: capitalize;
}
.sbd h3 {
  margin-top: 10px;
  font-size: 22px;
  color: black;
  text-transform: capitalize;
}
.sbd .color {
  color: rgb(116, 115, 115);
  text-transform: capitalize;
  font-size: 14px;
  padding-bottom: 20px;
}
.sbd .cards {
  display: grid;
  gap: 30px;
  padding: 20px 0;
  background-color: aliceblue;
  margin-bottom: 30px;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
}
.sbd .cards .card {
  width: 290px;
  border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  /* padding: 10px; */
}
.sbd .cards .card img {
  width: 100%;
  height: 340px;
  border-radius: 5px 5px 0px 0px;
}
/* shop by department ends here */

/* chosen by experts */
.experts {
  width: 100%;
  margin-bottom: 50px;
}
.experts a {
  text-decoration: none;
}
.experts h2 {
  font-size: 28px;
  margin-left: 100px;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.experts .cards {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 35px;
  grid-template-columns: auto auto auto;
}
.experts .cards .card {
  width: 360px;
  border-radius: 10px;
  background-color: white;
  padding: 7px 10px;
}
.experts .cards .card .main-img {
  width: 100%;
  height: 350px;
  border-radius: 10px;
}
.experts .cards .card .main-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.experts .cards .card .sub-img {
  width: 100%;
  display: grid;
  margin-top: 10px;
  justify-content: space-between;
 
  grid-template-columns: auto auto auto;
}
.experts .cards .card .sub-img img {
  height: 100px;
  border-radius: 5px;
  width: 105px;
}
.experts .cards .card h3 {
  color: black;
  text-transform: capitalize;
  font-size: 20px;
  margin-top: 20px;
}

.experts .cards .card .price {
  color: black;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  text-transform: capitalize;
}
.experts .cards .card .price .amount {
  font-weight: 500;
}
.experts .cards .card .price p span {
  font-size: 23px;
}
/* chosen by experts ends here */

@media only screen and (max-width: 320px) {
  body {
    max-width: 200%;
    display: block;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }
  body .announcement {
    font-size: 8px;
    width: 100%;
  }
  header {
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    z-index: 5555;
    display: flex;
    gap: 35px;
    background-color: white;
    font-size: 12px;
    padding-right: 10px;
  }
  header .nav {
    display: none;
  }
  header .hamburger {
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    color: rgb(87, 85, 82);
    border: 2px solid;
    width: 30px;
    border-radius: 5px;
    height: 27px;
  }
  header .hamburger:hover {
    color: black;
  }

  header .icons {
    gap: 23px;
    font-size: 15px;
  }
  #sidePanel {
    width: 50%;
    z-index: 4444;
    margin-top: -0.5px;
    padding: 15px 11px;
    position: absolute;
    left: 0;
    opacity: 2222;
    border-radius: 0px 3px 10px 10px;
    height: 500px;
  }
  #sidePanel ul {
    list-style-type: none;
    display: flex;

    flex-direction: column;
    gap: 10px;
  }
  #sidePanel ul li {
    text-transform: capitalize;
    height: 30px;
    border-radius: 8px;
    display: flex;
    padding-left: 10px;
    align-items: center;
  }
  #sidePanel ul li a {
    color: black;
    text-decoration: none;
    font-size: 12px;
  }
  .home-btn {
    color: white;
    background-color: rgb(245, 244, 243);
  }
  /* banner section */
  body .banner {
    position: relative;
    width: 100%;
    height: 280px;
  }
  body .banner img {
    height: 100%;
    width: 100%;
  }
  .banner a button {
    position: absolute;
    top: 90%;
    z-index: 1;
    display: flex;
    font-weight: 450;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    left: 85px;
  }
  /* banner section end here */

  /* main section */
  .main {
    width: 100%;
  }
  .main .heading {
    text-transform: capitalize;
    text-align: center;
    margin-top: -10px;
    margin-bottom: -10px;
    text-decoration: none;
    font-size: 20px;
    color: var(--heading-color);
  }
  .main .discover {
    width: 100%;
    /* border: 2px solid; */
    display: flex;
    gap: 10px;
    padding-top: 10px;
    flex-direction: column;
  }
  .main .discover a .card {
    width: 260px;
    /* border: 1px solid black; */
    height: 200px;
    padding-top: 10px;
  }
  .main .discover a .card img {
    width: 100%;
    height: 140px;
  }
  .main .discover a .card .info {
    margin-top: -5px;
    font-size: 9px;
    line-height: 1.4;
  }
  .main .discover a .card .info h2 {
    font-size: 16px;
  }
  /* main section ends here */

  /* arrival starts here */
  .arrivals {
    width: 100%;

    background-color: rgb(194, 193, 172);
  }
  .arrivals a h2 {
    font-size: 20px;
    padding-top: 15px;
    margin-bottom: -8px;
    color: white;
  }
  .arrivals .text-left {
    font-size: 20px;
    padding-top: 15px;
    margin-bottom: -8px;
    color: white;
  }
  .arrivals .cards {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    padding: 5px;
    gap: 10px;
  }
  .arrivals .cards a .card {
    width: 150px;
    padding: 5px;
    margin-bottom: 10px;
  }
  .arrivals .cards .card .image {
    height: 125px;
  }
  .arrivals .cards .card .image img {
    height: 100%;
  }
  .arrivals .cards .card .details {
    width: 100%;
    margin-left: -0.08px;
  }
  .arrivals .cards .card .details .other-colors {
    display: flex;
  }
  .arrivals .cards .card .details .other-colors p {
    display: flex;
    height: 25px;
    font-size: 8px;
    align-items: center;
    font-weight: 500;
    justify-content: center;
    width: 40px;
  }
  .arrivals .cards .card .details h3 {
    font-size: 11px;
  }
  .arrivals .cards .card .details .brand {
    font-size: 8px;
  }
  .arrivals .cards .card .price {
    display: flex;
    margin-top: -15px;
    margin-left: -9px;
    width: 100%;
    flex-direction: column;
    font-size: 11px;
  }
  .arrivals .cards .card .price .amount {
    font-size: 15px;
  }
  /* arrival ends here */

  /* shop by category */
  .sbc2 {
    width: 100%;
    margin-bottom: -40px;
  }
  .sbc2 a h2 {
    width: 100%;
    display: flex;
    font-size: 18px;
    text-align: center;
    margin-top: -20px;
    margin-left: 70px;
  }
  .sbc2 .cards {
    width: 100%;
    display: grid;

    align-items: center;
    grid-template-columns: auto auto;
    justify-content: center;
  }
  .rmb {
    display: none;
  }
  .sbc2 .cards a .card {
    width: 145px;
    margin: -10px;
  }
  .sbc2 .cards a .card h3 {
    font-size: 15px;
    margin-top: -10px;
  }
  .sbc2 .cards a .card p {
    width: 70px;
    font-size: 12px;
    height: 20px;
    border-radius: 5px;
  }
  .sbc2 .cards a .card img {
    width: 100%;
    padding: 8px;
    height: 120px;
  }
  /* shop by category ends here */

  /* sbc banner */
  .sbc {
    margin-top: 10px;
    width: 100%;
    height: 250px;
  }
  .sbc img {
    border-radius: 0px;
    height: 100%;
  }
  /* sbc banner end */

  /* shop by department */
  .sbd {
    width: 100%;
  }
  .sbd a h2 {
    font-size: 18px;
    width: 100%;
    margin-top: -25px;
    margin-left: 60px;
  }
  .sbd .cards {
    display: grid;
    width: 100%;
    justify-content: center;

    grid-template-columns: auto auto;
  }
  .sbd .cards a .card {
    width: 150px;
    margin: -10px;
    height: 200px;
  }
  .sbd .cards a .card h3 {
    font-size: 13px;
  }
  .sbd .cards a .card .color {
    font-size: 10px;
  }
  .sbd .cards a .card img {
    height: 130px;
  }
  /* shop by department ends here */

  /* chosen by experts */
  .experts {
    width: 100%;
  }
  .experts a h2 {
    font-size: 18px;
    font-size: 18px;
    width: 100%;
    margin-top: -15px;
    margin-left: 50px;
  }

  .experts .cards {
    display: flex;

    flex-direction: column;
    width: 100%;
  }
  .experts .cards a .card {
    width: 295px;
    border: 1px solid grey;
  }
  .experts .cards a .card .main-img {
    height: 260px;
  }
  .experts .cards a .card .sub-img {
    width: 100%;
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
  }
  .experts .cards a .card .sub-img img {
    width: 85px;
    height: 75px;
    border-radius: 3px;
  }
  .experts .cards a .card h3 {
    font-size: 15px;
    margin-top: 28px;
  }
  .experts .cards a .card .price {
    font-size: 14px;
    margin: 10px 0;
  }
  .experts .cards a .card .price span {
    font-size: 18px;
  }
  /* chosen by experts ends here*/
}
